name: Integration

on:
  workflow_call:
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  module:
    name: Module
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.29.4 # @denopendabot denoland/deno

      - name: Cache dependencies
        run: deno cache -q integration/mod_test.ts

      - name: Run tests
        run: deno task test integration/mod_test.ts

  action:
    name: Action
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.29.4 # @denopendabot denoland/deno

      - name: Setup the test
        run: deno run -q -A integration/action_setup.ts

      - name: Run action
        uses: ./integration
        with:
          mode: action
          base-branch: test-action
          working-branch: test-action-${{ github.ref_name }}
          root: integration/src
          labels: test

      - name: Clean up the test
        run: deno run -q -A integration/action_cleanup.ts

  app:
    name: App
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.29.4 # @denopendabot denoland/deno

      - name: Cache dependencies
        run: deno cache -q integration/app_test.ts

      - name: Run tests
        run: deno task test integration/app_test.ts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          INSTALLATION_ID: ${{ secrets.INSTALLATION_ID }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
