name: Test

on:
  pull_request:
    branches:
      - test-app
  workflow_call:
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  CI_MAIN: >-
    ${{ github.base_ref == 'main' && (
          github.event.pull_request.user.login == 'hasundue' ||
          github.event.pull_request.user.login == 'denopendabot[bot]'
        ) || github.event_name == 'workflow_dispatch' || '' }}

jobs:
  test:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.29.4 # @denopendabot denoland/deno

      - name: Format
        run: deno fmt --check

      - name: Lint
        run: deno lint

      - name: Cache dependencies
        run: deno cache mod/*.ts ${{ env.CI_MAIN && 'integration/octokit_test.ts' || '' }}

      - name: Run tests
        run: >
          deno task test --coverage=./coverage mod/
          ${{ env.CI_MAIN && 'integration/octokit_test.ts' || '' }}

      - name: Create coverage report
        if: ${{ env.CI_MAIN }}
        run: deno coverage ./coverage --lcov > ./coverage.lcov

      - name: Upload to Codecov
        if: ${{ env.CI_MAIN }}
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage.lcov

